<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drip Not Found</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="title" content="Drip.Inc">
    <meta name="description" content="Drip.Inc, your destination for all your exquisite shoes needs. Visit Now!">
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content="https"> -->
    <meta property="og:title" content="Drip.Inc">
    <meta property="og:description" content="Drip.Inc, your destination for all your exquisite shoes needs. Visit Now!">
    <meta property="og:image" content="{{url_for('static', filename='favn.png')}}">
    <link rel="stylesheet" href="http://www.x3dom.org/release/x3dom.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color: black !important; overflow-y:hidden;">
    <h3 class="errlogo">Drip.Inc</h3>
    <div class="err">
    <h1 class="logomsg">Server ded</h1>
    <a href="/"><p class="logoactn">RETURN</p></a>
    </div>
    <img src="{{url_for('static', filename='graphic.png')}}" class="errgraphic">
</body>
</html>
<script src="{{url_for ('static', filename='main.js')}}"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{{url_for ('static', filename= 'jquery.min.js')}}"></script>
<script>
    $("#usr-profilelogo").css("cursor", "pointer")
</script>
